*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 80px;
    line-height: 106px;
}

h2{
    font-weight: 500;
    font-size: 64px; 
    line-height: 84px;
}