footer{
    background: black;
    padding: 64px 0;
    color: white;
}

.footerContent{
    margin: 0 auto;
    h2{
        text-align: center;
    }
}
.contact{
    list-style-type: none;
    li{
        text-align: center;
        margin-top: 16px;
        a{
            text-decoration: none;
            color: white;
            font-size: 24px;
            line-height: 36px;
        }
    }
}