.banner{
    background-image: url('../../img/banner.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 958px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_padding{
    padding: 0 calc((412px - 304px) / 2);
}
.content{
    font-weight: 700;
    color: white;
    h1{
        margin-bottom: 32px;
    }
}

.content__text2{
    margin-bottom: 40px;
}

.icons{
    display: flex;
    justify-content: space-between;
}
