.portfolio{
    text-align: center;
    margin-bottom: 40px;
}
.title__head{
    margin-bottom: 16px;
}
.title__text{
    font-size: 20px;
    line-height: 30px;
    font-weight: 700;
    margin: 0 auto;
    margin-bottom: 56px;
}

.workPics{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    p{
        font-weight: 700;
    }
    &__pic{
        margin-bottom: 48px;
    }
}

